//colors 
$background-color : rgb(43, 43, 43);
$case-background-color : rgb(104, 104, 104);
$box-background-color : rgb(196, 196, 196);
$number-background-color : rgb(255, 0, 0);
$number-txt-color : #fff;

//sizes
$case-size : 20vmin;
$grid-repeat-number : 4;
$gap : 2vmin;
$case-border-radius : 1vmin;

//calc
$x : 3; //horizontal case's number 
$y : 2; //vertical case's number

$fx : #{$x} * calc( #{$gap} + #{$case-size} ) + #{$gap}; //function position x
$fy : #{$y} * calc(#{$gap} + #{$case-size}) + #{$gap}; // function position y 




*, *::before, *::after{
    box-sizing: border-box;
    background-color: $background-color;
    }

body{
    // bug message appears when display element and justify element is on *
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin : 0; 
    font-size: 7vmin;
    
    #game-box{
        position: relative;
        display: grid;
        // grid-template: auto/auto auto auto auto;
        //repeat $grid-repeat-number (4) times $box-size
        grid-template-columns: repeat($grid-repeat-number, $case-size);
        grid-template-rows: repeat($grid-repeat-number, $case-size);
        grid-gap: $gap;
        margin: 2vmin;
        padding: $gap;
        background-color: $box-background-color;
        border-radius: 2vmin;

        .case{
            // position: relative;
            border-radius: $case-border-radius;
            background-color: $case-background-color;
        }
        .number{
            //position number center case 
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $case-size;
            width: $case-size;
            background-color: $number-background-color;
            border-radius: $case-border-radius;
            // color: $number-txt-color;

            //calc position number
            // // strange calc($fx) and calc($fy) doesn't work but the calculation work itself without "calc()" expression
            left : calc( #{$fx} );
            top : calc( #{$fy} );
        }
    }
}