//imports 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


//colors 
$background-color : rgb(43, 43, 43);
$case-background-color : rgb(104, 104, 104);
$box-background-color : rgb(196, 196, 196);

//color lightness
$number-background-lightness : 20%;
$number-txt-lightness : 80%;

//number color hue & saturation
$number-color-hue : 172;
$number-color-saturation : 96%;

//sizes
$case-size : 20vmin;
$grid-repeat-number : 4;
$gap : 2vmin;
$case-border-radius : 1vmin;

//calc
$x : 1; //horizontal case's number 
$y : 3; //vertical case's number

$fx : #{$x} * calc( #{$gap} + #{$case-size} ) + #{$gap}; //function position x
$fy : #{$y} * calc(#{$gap} + #{$case-size}) + #{$gap}; // function position y 


//@mixin


//@keyframe
@keyframes load-number-animation {
    from{
        opacity : 0%;
        scale : 0;
    }
    to{
        scale: 1;
    }
}




*, *::before, *::after{
    box-sizing: border-box;
    background-color: $background-color;
    }

body{
    // bug message appears when display element and justify element is on *
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin : 0; 
    font-family:'Fredoka', sans-serif;
    font-size: 7vmin;
    
    #game-box{
        position: relative;
        display: grid;
        //repeat $grid-repeat-number (4) times $box-size
        grid-template-columns: repeat($grid-repeat-number, $case-size);
        grid-template-rows: repeat($grid-repeat-number, $case-size);
        grid-gap: $gap;
        margin: 2vmin;
        padding: $gap;
        background-color: $box-background-color;
        border-radius: 2vmin;

        .case{
            border-radius: $case-border-radius;
            background-color: $case-background-color;
        }
        .number{
            //position number center case 
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $case-size;
            width: $case-size;
            border-radius: $case-border-radius;
            font-weight: 500; // the import font 'fredoka' has different weight, 500 correspond to his medium weight
            
            //calc position number
            left : calc( #{$fx} );
            top : calc( #{$fy} );

            // calc color
            color: hsl($number-color-hue, $number-color-saturation, $number-txt-lightness);
            background-color: hsl($number-color-hue, $number-color-saturation, $number-background-lightness);
            

            //animation
            animation: load-number-animation 400ms ease;

            // transition when number case move 
            transition : 150ms ease-in-out;
        }
    }
}

// export 
:export {
    x : $x;
    y : $y;
}